/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
    display: none;
}

/* Hide large logo*/

.site-logo img {
    display: none;
}

.site-logo-text-icon img {
    display: none;
}

/**
 * Base style to affect HTML elements on a general scale.
 */

@fontFamilyHeadings: "Nixie One", sans-serif;
@fontFamilyBody: "Open Sans", sans-serif;
@fontFamilyCode: monospace;
@background: #f0f3f6;

html {
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    #desinax-hgrid.font(@fontSizeBody);

    p {
        margin-bottom: @magicNumber;
    }
}

.wrap-all {
    background-color: @background;
}

/* Header */

.outer-wrap-header {
    background-color: @background;
    padding-top: 2em;
}

.region-header-col-1 {
    text-align: center;
}

.site-logo-text a {
    color: #333;
    font-size: 5em;
    line-height: 1.1;
    font-family: @fontFamilyHeadings;
    text-decoration: none;

}

/* Navigation */
.my-navbar {
    text-align: center;
}

.my-navbar li {
    display: inline-block;
    list-style-type: none;
}

.my-navbar a {
    color: #333;
    font-family: @fontFamilyBody;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5em;
    line-height: 1.8333;

    &:hover {
        color: #999;
    }
}

.inner-wrap-flash img {
    width: 100%;
}

/* Breadcrumb*/

.region-breadcrumb {
    line-height: 2.2;

    li {
        display: inline-block;
        list-style-type: none;
    }

    a {
        color: #333;
        font-family: @fontFamilyBody;
        text-decoration: none;

        &:hover {
            color: #999;
        }
    }
}

/* Next previous*/

.next-previous a {
    display: inline-block;
    list-style-type: none;
}

.next-previous a {
    color: #333;
    font-family: @fontFamilyBody;
    text-decoration: none;
}

.region-breadcrumb a:hover {
    color: #999;
}

/* Main */

ul {
    padding: 0;
}

h1, h2, h3, h4, h5 {
    font-family: @fontFamilyHeadings;
    font-weight: bold;
    border-bottom: solid 1px #666;
    width: 90%;
}

article {
    padding-bottom: @magicNumber;
}

article p {
    font-family: @fontFamilyBody;
    max-width: 90%;
    font-weight: normal;
}

article h1 {
    // line-height: 150%;
}

.right img {
    float: right;
    margin: @magicNumber;
}

.left img {
    float: left;
    margin-right: @magicNumber;
}

.byline {
    border: 1px solid grey;
    padding: 0.5em;
    overflow:auto;
    margin-top: @magicNumber;
}

.byline p {
    font-family: @fontFamilyBody;
    max-width: 90%;
    font-weight: normal;
}

/* Sidebar */
.wrap-sidebar>.block li {
    list-style-type: none;
}

.region-sidebar-right>.block {
    background-color: white;
    font-family: @fontFamilyBody;
}

.region-sidebar-right>.block a {
    text-decoration: none;
    color: #0e5555
}

.region-sidebar-right>.block a:hover {
    text-decoration: none;
    color: #1ca7a7
}

.block .toc li {
    list-style-type: none;
}

.block .toc a {
    color: black;
    font-family: @fontFamilyBody;
    text-decoration: none;
    font-weight: lighter;

    &:hover {
        color: white;
    }
}

/* Footer */

.outer-wrap-footer {
   font-family: Arial, sans-serif;
   color: #c1cdcc;
   padding-bottom: @magicNumber;
   background-color: #333;
}

.region-footer {
    & h4 {
        border: 0;
    }

    & a {
        font-weight: bold;
        color: white;

        &:hover {
            color: grey;
        }
    }
}

.region-footer>.block {
    text-align:center;
}
