/*!
 * LESS version of the stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Its intention is to
 * use kmom01.css and lessify the style and use this as a wrapper for the new
 * style.
 */
/**
 * Internal self contained modules, save in directory module/.
 */
/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */
@font-face {
  font-family: 'Nixie One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Nixie One'), local('NixieOne-Regular'), url(https://fonts.gstatic.com/s/nixieone/v10/lW-8wjkKLXjg5y2o2uUYV-t3.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirkOUuhs.ttf) format('truetype');
}
/* Poor man's normalize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
  display: none;
}
/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
  display: none;
}
/* Hide large logo */
.site-logo img {
  display: none;
}
.site-logo-text-icon img {
  display: none;
}
/* Global */
html {
  overflow-y: scroll;
}
p {
  margin: 16px 0;
}
ul {
  padding: 0;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Nixie One", sans-serif;
  font-weight: bold;
  line-height: 150%;
  border-bottom: solid 1px #666;
  width: 90%;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.7em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.3em;
}
h5 {
  font-size: 1.2em;
}
.wrap-all {
  background-color: #f0f3f6;
}
.row::after {
  clear: both;
}
/* Header */
.outer-wrap-header {
  background-color: #f0f3f6;
}
.inner-wrap-header {
  width: 80%;
  margin: auto;
  padding-top: 2em;
}
.region-header-col-1 {
  width: 80%;
  margin: 2em auto;
}
.region-header-col-2 {
  width: 100%;
  margin: auto;
  padding-bottom: 1em;
}
.region-header-col-1 {
  text-align: center;
}
.site-logo-text a {
  color: #333;
  font-size: 5em;
  font-family: "Nixie One";
  text-decoration: none;
}
/* Navigation */
.my-navbar {
  text-align: center;
}
.my-navbar li {
  display: inline-block;
  list-style-type: none;
}
.my-navbar a {
  color: #333;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5em;
  padding: 0.8em;
}
.my-navbar a:hover {
  color: #999;
}
/* Flash */
.outer-wrap-flash {
  width: 80%;
  margin: auto;
}
/* Breadcrumb */
.region-breadcrumb li {
  display: inline-block;
  list-style-type: none;
}
.region-breadcrumb a {
  color: #333;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  font-size: 1em;
}
.region-breadcrumb a:hover {
  color: #999;
}
/* Next previous */
.next-previous a {
  display: inline-block;
  list-style-type: none;
}
.next-previous a {
  color: #333;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  font-size: 1em;
}
.region-breadcrumb a:hover {
  color: #999;
}
/* Main */
.outer-wrap-main,
.outer-wrap-breadcrumb {
  width: 80%;
  margin: auto;
  overflow: auto;
  padding: 1em;
}
.has-sidebar {
  width: 70%;
}
.has-sidebar-right {
  float: left;
}
.has-sidebar-left {
  float: right;
}
article {
  padding-top: 3em;
  padding-bottom: 3em;
}
article p {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  line-height: 150%;
  max-width: 90%;
  font-weight: normal;
}
article h1 {
  line-height: 150%;
}
.right img {
  float: right;
  margin: 2em;
}
.left img {
  float: left;
  margin-right: 2em;
}
.byline {
  border: 1px solid grey;
  padding: 0.5em;
  overflow: auto;
  margin-top: 2em;
}
.byline p {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  line-height: 150%;
  max-width: 90%;
  font-weight: normal;
}
/* Sidebar */
.wrap-sidebar {
  width: 30%;
}
.region-sidebar-right {
  float: right;
}
.region-sidebar-left {
  float: left;
}
.wrap-sidebar > .block li {
  list-style-type: none;
}
.region-sidebar-right > .block {
  background-color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  margin: 1em;
  padding: 1em;
}
.region-sidebar-right > .block a {
  text-decoration: none;
  color: #0e5555;
}
.region-sidebar-right > .block a:hover {
  text-decoration: none;
  color: #1ca7a7;
}
.block .toc li {
  list-style-type: none;
}
.block .toc a {
  color: black;
  font-family: sans-serif;
  text-decoration: none;
  font-weight: lighter;
  font-size: 1.2em;
  line-height: 170%;
}
.block .toc a:hover {
  color: white;
}
/* Footer */
.outer-wrap-footer {
  background-color: #333;
  font-family: Arial, sans-serif;
  color: #c1cdcc;
}
.region-footer {
  padding: 2em 0 2em 0;
}
.inner-wrap-footer {
  width: 80%;
  margin: auto;
}
.footer-column {
  width: 33%;
  float: left;
  padding: 0 1em 2em 1em;
}
.region-footer > .block {
  text-align: center;
}
/**
 * Style for the stylechooser.
 */
/**
 * Variables
 */
/**
 * Style
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
  display: none;
}
/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
  display: none;
}
/* Hide large logo*/
.site-logo img {
  display: none;
}
.site-logo-text-icon img {
  display: none;
}
/**
 * Base style to affect HTML elements on a general scale.
 */
html {
  overflow-y: scroll;
}
/* Header */
.outer-wrap-header {
  background-color: #f0f3f6;
}
.region-header-col-1 {
  text-align: center;
}
.site-logo-text a {
  color: #333;
  font-size: 5em;
  font-family: "Nixie One", sans-serif;
  text-decoration: none;
}
/* Navigation */
.my-navbar {
  text-align: center;
}
.my-navbar li {
  display: inline-block;
  list-style-type: none;
}
.my-navbar a {
  color: #333;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5em;
  padding: 0.8em;
}
.my-navbar a:hover {
  color: #999;
}
/* Breadcrumb*/
.region-breadcrumb li {
  display: inline-block;
  list-style-type: none;
}
.region-breadcrumb a {
  color: #333;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  font-size: 1em;
}
.region-breadcrumb a:hover {
  color: #999;
}
/* Next previous*/
.next-previous a {
  display: inline-block;
  list-style-type: none;
}
.next-previous a {
  color: #333;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  font-size: 1em;
}
.region-breadcrumb a:hover {
  color: #999;
}
/* Main */
p {
  margin: 16px 0;
}
ul {
  padding: 0;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Nixie One", sans-serif;
  font-weight: bold;
  line-height: 150%;
  border-bottom: solid 1px #666;
  width: 90%;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.7em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.3em;
}
h5 {
  font-size: 1.2em;
}
.wrap-all {
  background-color: #f0f3f6;
}
article {
  padding-top: 3em;
  padding-bottom: 3em;
}
article p {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  line-height: 150%;
  max-width: 90%;
  font-weight: normal;
}
article h1 {
  line-height: 150%;
}
.right img {
  float: right;
  margin: 2em;
}
.left img {
  float: left;
  margin-right: 2em;
}
.byline {
  border: 1px solid grey;
  padding: 0.5em;
  overflow: auto;
  margin-top: 2em;
}
.byline p {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  line-height: 150%;
  max-width: 90%;
  font-weight: normal;
}
/* Sidebar */
.wrap-sidebar > .block li {
  list-style-type: none;
}
.region-sidebar-right > .block {
  background-color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  margin: 1em;
  padding: 1em;
}
.region-sidebar-right > .block a {
  text-decoration: none;
  color: #0e5555;
}
.region-sidebar-right > .block a:hover {
  text-decoration: none;
  color: #1ca7a7;
}
.block .toc li {
  list-style-type: none;
}
.block .toc a {
  color: black;
  font-family: sans-serif;
  text-decoration: none;
  font-weight: lighter;
  font-size: 1.2em;
  line-height: 170%;
}
.block .toc a:hover {
  color: white;
}
/* Footer */
.outer-wrap-footer {
  background-color: #333;
  font-family: Arial, sans-serif;
  color: #c1cdcc;
}
.region-footer > .block {
  text-align: center;
}
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Variables
 */
/**
 * General layout
 */
* {
  box-sizing: border-box;
}
.inner-wrap {
  max-width: 1100px;
  margin: 0 auto;
}
.row::after {
  clear: both;
}
/* Header */
.inner-wrap-header {
  width: 80%;
  margin: auto;
  padding-top: 2em;
}
.region-header-col-1 {
  width: 80%;
  margin: 2em auto;
}
.region-header-col-2 {
  width: 100%;
  margin: auto;
  padding-bottom: 1em;
}
/* Flash */
.outer-wrap-flash {
  width: 80%;
  margin: auto;
}
/* Main */
.outer-wrap-main,
.outer-wrap-breadcrumb {
  width: 80%;
  margin: auto;
  overflow: auto;
  padding: 1em;
}
.has-sidebar {
  width: 70%;
}
.has-sidebar-right {
  float: left;
}
.has-sidebar-left {
  float: right;
}
/* Sidebar */
.wrap-sidebar {
  width: 30%;
}
.region-sidebar-right {
  float: right;
}
.region-sidebar-left {
  float: left;
}
/* Footer */
.region-footer {
  padding: 2em 0 2em 0;
}
.inner-wrap-footer {
  width: 80%;
  margin: auto;
}
.footer-column {
  width: 33%;
  float: left;
  padding: 0 1em 2em 1em;
}
/**
 * Layout for responsive style through media queries.
 */
@media screen and (max-width: 1500px) {
  .site-logo {
    display: none;
  }
}
/**
 * Show off the regions used in the website, to ease styling.
 */
.regions .outer-wrap {
  background-color: #f4e3c9;
  border: 1px solid #e3b774;
}
.regions .inner-wrap {
  background-color: #f4e0e9;
  border: 1px solid #d995b4;
}
.regions .region-header-col-1,
.regions .region-header-col-2,
.regions .region-header-col-3,
.regions .region-flash,
.regions .region-breadcrumb,
.regions .region-flash-message,
.regions .region-columns-above,
.regions .region-main,
.regions .region-after-main,
.regions .region-columns-below,
.regions .region-sidebar-left,
.regions .region-sidebar-right,
.regions .region-footer,
.regions .region-footer-column-1,
.regions .region-footer-column-2,
.regions .region-footer-column-3 {
  background-color: #b5dce1;
  border: 1px solid #6cbac4;
  color: #111;
}
/**
 * My own settings, not currently in their own module.
 */
